<?xml version="1.0" ?>
<robot name="pigot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="motor_torque" value="300"/>
  <xacro:property name="motor_vec" value="12.56"/>
  <xacro:property name="motor_damp" value="0.1"/>
  <xacro:property name="motor_fric" value="0"/>

    <link name="laser_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.1" />
      <inertia
        ixx="0.01"
        ixy="0"
        ixz="0"
        iyy="0.01"
        iyz="0"
        izz="0.01" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
    </collision>
  </link>

  <joint name="laser_joint" type="fixed">
    <origin xyz="0 0 0.125" rpy="0 0 0" />
    <parent link="body_link" />
    <child link="laser_link" />
  </joint>


    <link name="imu_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.5" />
      <inertia
        ixx="0.0033"
        ixy="0"
        ixz="0"
        iyy="0.0033"
        iyz="0"
        izz="0.0033" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.1 0.05"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.1 0.05"/>
      </geometry>
    </collision>
  </link>

  <joint name="imu_joint" type="fixed">
    <origin xyz="0 0 -0.125" rpy="0 0 0" />
    <parent link="body_link" />
    <child link="imu_link" />
  </joint>

</robot>
