<?xml version="1.0" ?>
<robot name="pigot" xmlns:xacro="http://www.ros.org/wiki/xacro">

 <xacro:include filename="$(find pigot_description)/urdf/pigot_body_model.xacro" />
 <xacro:include filename="$(find pigot_description)/urdf/pigot_arm_model.xacro" />
 <xacro:include filename="$(find pigot_description)/urdf/pigot_sensor_model.xacro" />

</robot>
